@charset "UTF-8";

/* stitch */
@font-face {
  font-family: "stitch";
  src:url("https://file.myfontastic.com/T4S3xZmdtZ32ov9ofQ2jvR/fonts/1480503676.eot");
  src:url("https://file.myfontastic.com/T4S3xZmdtZ32ov9ofQ2jvR/fonts/1480503676.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/T4S3xZmdtZ32ov9ofQ2jvR/fonts/1480503676.woff") format("woff"),
    url("https://file.myfontastic.com/T4S3xZmdtZ32ov9ofQ2jvR/fonts/1480503676.ttf") format("truetype"),
    url("https://file.myfontastic.com/T4S3xZmdtZ32ov9ofQ2jvR/fonts/1480503676.svg#1480503676") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  display: inline-block;
  font-family: "stitch" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .translate(0, 0.167em);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "stitch" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .translate(0, 0.167em);
}

.icon-cloud:before {
  content: "\61";
}
.icon-eye:before {
  content: "\62";
}
.icon-mail:before {
  content: "\63";
}
.icon-switch:before {
  content: "\64";
}
.icon-layout:before {
  content: "\65";
}
.icon-link:before {
  content: "\66";
}
.icon-video:before {
  content: "\67";
}
.icon-disc:before {
  content: "\68";
}
.icon-bell:before {
  content: "\69";
}
.icon-lock:before {
  content: "\6a";
}
.icon-printer:before {
  content: "\6b";
}
.icon-desktop:before {
  content: "\6c";
}
.icon-unlock:before {
  content: "\6d";
}
.icon-bookmark:before {
  content: "\6e";
}
.icon-storage:before {
  content: "\6f";
}
.icon-cog:before {
  content: "\70";
}
.icon-picture:before {
  content: "\71";
}
.icon-wifi:before {
  content: "\72";
}
.icon-heart:before {
  content: "\73";
}
.icon-paragraph:before {
  content: "\74";
}
.icon-bullseye:before {
  content: "\75";
}
.icon-zoom-out:before {
  content: "\76";
}
.icon-zoom-in:before {
  content: "\77";
}
.icon-search:before {
  content: "\78";
}
.icon-copy-doc:before {
  content: "\79";
}
.icon-doc:before {
  content: "\7a";
}
.icon-new-tab:before {
  content: "\41";
}
.icon-tabs:before {
  content: "\42";
}
.icon-layers:before {
  content: "\43";
}
.icon-book:before {
  content: "\44";
}
.icon-align-right:before {
  content: "\45";
}
.icon-airplay:before {
  content: "\46";
}
.icon-camera:before {
  content: "\47";
}
.icon-watch:before {
  content: "\48";
}
.icon-clock:before {
  content: "\49";
}
.icon-clipboard:before {
  content: "\4a";
}
.icon-align-justify:before {
  content: "\4b";
}
.icon-align-left:before {
  content: "\4c";
}
.icon-minus-circled:before {
  content: "\4d";
}
.icon-plus-circled:before {
  content: "\4e";
}
.icon-arrow-return:before {
  content: "\4f";
}
.icon-align-center:before {
  content: "\50";
}
.icon-tick-circled:before {
  content: "\51";
}
.icon-cross-circled:before {
  content: "\52";
}
.icon-plus-square:before {
  content: "\53";
}
.icon-minus-square:before {
  content: "\54";
}
.icon-tick-square:before {
  content: "\55";
}
.icon-cross-square:before {
  content: "\56";
}
.icon-mic:before {
  content: "\57";
}
.icon-circle:before {
  content: "\58";
}
.icon-left:before {
  content: "\59";
}
.icon-line-start:before {
  content: "\5a";
}
.icon-sun:before {
  content: "\30";
}
.icon-thermostat:before {
  content: "\31";
}
.icon-droplet:before {
  content: "\32";
}
.icon-life-preserver:before {
  content: "\33";
}
.icon-new-screen:before {
  content: "\34";
}
.icon-ellipsis:before {
  content: "\35";
}
.icon-tick:before {
  content: "\36";
}
.icon-minus:before {
  content: "\37";
}
.icon-minimise:before {
  content: "\38";
}
.icon-maximise:before {
  content: "\39";
}
.icon-full-screen:before {
  content: "\21";
}
.icon-trash:before {
  content: "\22";
}
.icon-trash-locked:before {
  content: "\24";
}
.icon-columns:before {
  content: "\23";
}
.icon-brightness:before {
  content: "\25";
}
.icon-graph:before {
  content: "\26";
}
.icon-pie-chart:before {
  content: "\27";
}
.icon-star:before {
  content: "\28";
}
.icon-arrow-left:before {
  content: "\29";
}
.icon-arrow-right:before {
  content: "\2a";
}
.icon-arrow-up:before {
  content: "\2b";
}
.icon-arrow-down:before {
  content: "\2c";
}
.icon-volume:before {
  content: "\2d";
}
.icon-mute:before {
  content: "\2e";
}
.icon-gride-2-1:before {
  content: "\2f";
}
.icon-grid-1-2:before {
  content: "\3a";
}
.icon-grid-2-2:before {
  content: "\3b";
}
.icon-thumbnails:before {
  content: "\3c";
}
.icon-plus:before {
  content: "\3d";
}
.icon-exit-full-screen:before {
  content: "\3e";
}
.icon-new-doc:before {
  content: "\3f";
}
.icon-add-doc:before {
  content: "\40";
}
.icon-minus-doc:before {
  content: "\5b";
}
.icon-new-branch:before {
  content: "\5d";
}
.icon-leave:before {
  content: "\5e";
}
.icon-graph-trend:before {
  content: "\5f";
}
.icon-anchor:before {
  content: "\60";
}
.icon-message:before {
  content: "\7b";
}
.icon-briefcase:before {
  content: "\7c";
}
.icon-user:before {
  content: "\7d";
}
.icon-battery:before {
  content: "\7e";
}
.icon-map:before {
  content: "\5c";
}
.icon-location:before {
  content: "\e000";
}
.icon-location-arrow:before {
  content: "\e001";
}
.icon-download:before {
  content: "\e002";
}
.icon-upload:before {
  content: "\e003";
}
.icon-upload-cloud:before {
  content: "\e004";
}
.icon-attach:before {
  content: "\e005";
}
.icon-play:before {
  content: "\e006";
}
.icon-pause:before {
  content: "\e007";
}
.icon-tab-right:before {
  content: "\e008";
}
.icon-line-end:before {
  content: "\e009";
}
.icon-download-cloud:before {
  content: "\e00a";
}
.icon-square:before {
  content: "\e00b";
}
.icon-switch-1:before {
  content: "\e00c";
}
.icon-refresh:before {
  content: "\e00d";
}
.icon-folder:before {
  content: "\e00e";
}
.icon-umbrella:before {
  content: "\e00f";
}
.icon-moon:before {
  content: "\e010";
}
.icon-command:before {
  content: "\e011";
}
.icon-power:before {
  content: "\e012";
}
.icon-tag:before {
  content: "\e013";
}
.icon-minus-dashed:before {
  content: "\e014";
}
.icon-plus-dashed:before {
  content: "\e015";
}
.icon-square-dashed:before {
  content: "\e016";
}
.icon-share:before {
  content: "\e017";
}
.icon-reload:before {
  content: "\e018";
}
.icon-cube:before {
  content: "\e019";
}
.icon-globe:before {
  content: "\e01a";
}
.icon-close:before {
  content: "\e01b";
}
.icon-move:before {
  content: "\e01c";
}
.icon-delete:before {
  content: "\e01d";
}
.icon-menu:before {
  content: "\e01e";
}
.icon-inbox:before {
  content: "\e01f";
}
.icon-download-local:before {
  content: "\e020";
}
.icon-upload-local:before {
  content: "\e021";
}
.icon-flag:before {
  content: "\e022";
}
.icon-blocked:before {
  content: "\e023";
}
.icon-android:before {
  content: "\e024";
}
.icon-apple:before {
  content: "\e025";
}
.icon-youtube-play:before {
  content: "\e027";
}
.icon-shield:before {
  content: "\e026";
}
.icon-quote-right:before {
  content: "\e028";
}
.icon-quote-left:before {
  content: "\e029";
}
.icon-angle-up:before {
  content: "\e02a";
}
.icon-angle-right:before {
  content: "\e02b";
}
.icon-angle-left:before {
  content: "\e02c";
}
.icon-underline:before {
  content: "\e02d";
}
.icon-strikethrough:before {
  content: "\e02e";
}
.icon-list-bullet:before {
  content: "\e02f";
}
.icon-list-number:before {
  content: "\e030";
}
.icon-files:before {
  content: "\e031";
}
.icon-paper-clip:before {
  content: "\e032";
}
.icon-cut-scissor:before {
  content: "\e033";
}
.icon-save-disk:before {
  content: "\e034";
}
.icon-text-width:before {
  content: "\e035";
}
.icon-text-height:before {
  content: "\e036";
}
.icon-italic:before {
  content: "\e037";
}
.icon-bold:before {
  content: "\e038";
}
.icon-font:before {
  content: "\e039";
}
.icon-linkedin:before {
  content: "\e03b";
}
.icon-twitter:before {
  content: "\e03c";
}
.icon-github:before {
  content: "\e03d";
}
.icon-windows:before {
  content: "\e03a";
}
.icon-facebook:before {
  content: "\e03e";
}
.icon-angle-down:before {
  content: "\e03f";
}
